/*
 *Author: U'el Small
 *
 *
 *main.css
 */
/*
.wrapper {
  
    width: 700px;
}
*/

.calculator {
    margin: 0 auto;
    width: 400px;
    border: 2px solid brown;
}

#output { 
    border: 2px solid skyblue;
    height: 25px;
    width: 100%;
}